table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
   width:220px;
   height:220px;
}
@media print {
	.origami-prism-grid.td{
		width: 64mm;
		height:66mm;
	}
	.origami-cube-grid.td{
		width: 69mm;
		height:69mm;
	}
	.origami-cube-grid{
		height:100%;
	}
}

.title-image{
   float:center;
   transform: rotate(0.25turn); 
}

.title-image > img{
   width:30%;
   height:40%;
   float: none;
}

.title-image  > p{
   width:70%%;
   height:100%;
   float:center;
   font-size:1.1em;
}
.face-front {
   padding: 0.5% 0.5% 0.5% 0.5%;
}
.face-rear {
   padding: 0.5% 0.5% 0.5% 0.5%;
}
.face-rear > p{
   font-size:.95em;
   float:center;
   transform: rotate(0.75turn); 
}
.cube-image > img{
   width:30%;
   height:40%;
   float: none;
}

.cube-image  > p{
   width:70%%;
   height:100%;
   float:center;
   font-size:1.3em;
}
.cube-face {
   padding: 0.5% 0.5% 0.5% 0.5%;
   font-size:.95em;
   float:center;
}
.cube-face-four{
   padding: 0.5% 0.5% 0.5% 0.5%;
   font-size:.95em;
   float:center;
   transform: rotate(0.75turn); 
}
.tetra-face {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 220px 346.4px 220px;
  border-color: transparent transparent #D3D3D3 transparent;
  float: left;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.tetra-face p {
  text-align: center;
  top: 84px;
  left: -47px;
  position: relative;
  width: 104px;
  height: 112px;
  margin: 0px;
}
.tetra-face img {
  top: 140px;
  left: -47px;
  position: relative;
  width: 108px !important; 
  height: 80px !important;
  margin: 0px;
}

.origami-image > img{
   width:30%;
   height:40%;
   float: none;
}

.origami-image  > p{
   width:70%%;
   height:100%;
   float:center;
   font-size:1.1em;
}

.origami-text {
   padding: 0.5% 0.5% 0.5% 0.5%;
   font-size:.95em;
   float:center;
}
.tetra-face1 {
   transform: translate(25%);
}
.tetra-face2 {
   transform: rotate(0.65125turn)  translate(-12.5%, -28.125%);
}
.tetra-face3 {
   transform: rotate(0.34875turn) translate(12.5%, -28.125%); 
}
