table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
   width:220px;
   height:220px;
}
@media print {
	.origami-prism-grid.td{
		width: 64mm;
		height:66mm;
	}
	.origami-cube-grid.td{
		width: 69mm;
		height:69mm;
	}
	.origami-cube-grid{
		height:100%;
	}
}

.title-image{
   float:center;
   transform: rotate(0.25turn); 
}

.title-image > img{
   width:30%;
   height:40%;
   float: none;
}

.title-image  > p{
   width:70%%;
   height:100%;
   float:center;
   font-size:1.1em;
}
.face-front {
   padding: 0.5% 0.5% 0.5% 0.5%;
}
.face-rear {
   padding: 0.5% 0.5% 0.5% 0.5%;
}
.face-rear > p{
   font-size:.95em;
   float:center;
   transform: rotate(0.75turn); 
}
.cube-image > img{
   width:30%;
   height:40%;
   float: none;
}

.cube-image  > p{
   width:70%%;
   height:100%;
   float:center;
   font-size:1.3em;
}
.cube-face {
   padding: 0.5% 0.5% 0.5% 0.5%;
   font-size:.95em;
   float:center;
}
.cube-face-four{
   padding: 0.5% 0.5% 0.5% 0.5%;
   font-size:.95em;
   float:center;
   transform: rotate(0.75turn); 
}
